<mat-card *ngIf="fileInfo!==undefined">
    <form class="my-form" novalidate (ngSubmit)="onSubmit(fileInfo)">
            <ngx-codemirror #content="ngModel" [(ngModel)]="fileInfo.content" name="content" required [options]="{
                lineNumbers: true,
                theme: 'default',
                mode: 'markdown'
              }"></ngx-codemirror>
            <input type="hidden" [(ngModel)]="fileInfo.name" name="name"/>
            <input type="hidden" [(ngModel)]="fileInfo.charset" name="charset"/>
            <input type="hidden" [(ngModel)]="fileInfo.id" name="id"/>
        <br>
        <div class="button-row">
            <button type="submit" [disabled]="content.invalid" color="primary" mat-raised-button>Обновить в БД</button>
            <button type="button" color="accent" mat-raised-button (click)="proceed(fileInfo)">Скачать</button>
        </div>
    </form>
</mat-card>
