<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <http-basic />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/create" access="permitAll" />
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/history" access="permitAll" />
        <intercept-url pattern="/version" access="permitAll" />
        <intercept-url pattern="/user" access="permitAll" />
        <intercept-url pattern="/charsets" access="permitAll" />
        <intercept-url pattern="/*.js" access="permitAll" />
        <intercept-url pattern="/*.js.map" access="permitAll" />
        <intercept-url pattern="/*.css" access="permitAll" />
        <intercept-url pattern="/*.ico" access="permitAll" />
        <intercept-url pattern="/**" access="authenticated"/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="test" password="test" authorities="ROLE_AUTHENTICATED" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</b:beans>