<mat-card>
  <mat-card-content>
    <td-file-upload #fileUpload [(ngModel)]="file" defaultColor="accent" activeColor="warn" cancelColor="primary"
                    (upload)="uploadEvent($event)" accept=".txt" [disabled]="disabled">
      <mat-icon>file_upload</mat-icon>
      <span>{{ file?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon>
        <span>Выберите файл</span>
      </ng-template>
    </td-file-upload>
  </mat-card-content>
</mat-card>
<app-file-update [fileInfo]="fileInfo"></app-file-update>

